*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(128, 128, 128, 0.501);
    margin: 0 auto;}
    
header{ 
   background-color:rgba(128, 0, 248, 0.374);
  display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px;
    
}
 
h1{
    line-height: .9em ;
    margin-right: 20px;  
}
  
 
#navegador{
    display: flex;
}

nav a{
    margin-right: 20px;
    text-decoration: none;
}

main{ 
 background-color:    rgb(187, 154, 218);
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 40px;
    flex-direction: row-reverse;
 }

 aside{
    max-width: 600px ;
    padding: 20px;
    text-align: center;
 }
 
 
 @media screen and(min-width: 640px){
  
    main{
        display: flex;
      flex-wrap: wrap;
flex-direction: row-reverse;
align-items: center;}

    main img{
        width: 600px;
    }

    main p{
        width: 400px;
    }

}

p{
    padding: 5px 5px;
}

h2{
    margin: 5px;
}
     
#rodapé{

    display: flex;
    justify-content: space-between;
   justify-content: space-around;
  padding: 5px;
}
